<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="description" content="Ai Code Craft - development with passion" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

</head>
<body>
<!-- navi start-->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="{{ '/assets/img/logo.webp' | relative_url }}" alt="AI Code Craft Website Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-social-links" id="navbarNav">
            <div class="d-flex">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://volkansah.github.io/">German</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://jugendamt-deutschland.de/treffen-sie-jade/">JadeGPT</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="https://volkansah.github.io" target="_blank" rel="noopener noreferrer nofollow" class="nav-link"><i class="fab fa-github"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://facebook.com/volkansah" target="_blank" rel="noopener noreferrer nofollow" class="nav-link"><i class="fab fa-facebook-f"></i></a>
                    </li>

                    <li class="nav-item">
                        <a href="https://www.instagram.com/childrenexchange/" target="_blank" rel="noopener noreferrer nofollow" class="nav-link"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</nav>

    <div class="container mt-5">
        {{ content }}
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                <img src="{{ '/assets/img/logo-footer.webp' | relative_url }}" alt="Website Footer Logo">
                </div>
                <div class="col-md-3">
                    <h3>Main Services</h3>
                    <ul>
                        <li>Webserver development</li>
                        <li>Application development</li>
                        <li>Design development</li>
                        <li>Artificial intelligence</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Optional Services</h3>
                    <ul>
                        <li>Pentesting Application</li>
                        <li>Searchengine Optimisation</li>
                        <li>Social Marketing (SEM)</li>
                        <li>Offensive Security (NCF)</li>
                    </ul>
                </div>
                <div class="col-md-3">
                  <img src="{{ '/assets/img/love-you-my-son.webp' | relative_url }}" alt="Love You My Son">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12 text-center">
                    <p>&copy; 2008-2023 AICodeCraft.io. All Rights Reserved. <a href="privacy.html">Inprint/Privacy</a></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

    <script>
    function loadReadme(repoFullName, index) {
      fetch(`https://api.github.com/repos/${repoFullName}/readme`, {
        headers: { 'Accept': 'application/vnd.github.v3.html' }
      })
      .then(response => response.text())
      .then(data => {
        // Bilder-URLs anpassen
        const repoUrl = `https://raw.githubusercontent.com/${repoFullName}/master/`;
        data = data.replace(/src="([^"]+)"/g, (match, p1) => {
          // Überprüfen, ob der Pfad relativ ist
          if (!p1.startsWith('http') && !p1.startsWith('//')) {
            return `src="${repoUrl}${p1}"`;
          }
          return match;
        });

        // Ankerlinks anpassen
        data = data.replace(/href="#([^"]+)"/g, (match, p1) => {
          return `href="#repoContent-${index}-${p1}"`;
        });

        // IDs im Inhalt anpassen
        data = data.replace(/id="([^"]+)"/g, (match, p1) => {
          return `id="repoContent-${index}-${p1}"`;
        });

        document.getElementById(`repoContent-${index}`).innerHTML = data;
      })
      .catch(error => {
        document.getElementById(`repoContent-${index}`).innerHTML = '<p>README could not be loaded.</p>';
      });
    }
    </script>
</body>
</html>
